[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = "*"

[packages]
awscli = "*"
requests = "*"
"ruamel.yaml" = "*"
xlsx2csv = "*"
more-itertools = "*"
click = "*"
simplejson = "*"
diskcache = "*"
pyyaml = ">=5.4"

[requires]
python_version = "3.8"
