[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
awscli = "*"
requests = "*"
"ruamel.yaml" = "*"
xlsx2csv = "*"
more-itertools = "*"
click = "*"

[requires]
python_version = "3.8"
